@import url('https://fonts.googleapis.com/css2?family=Lato&family=Urbanist:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    background-color: #99ccff;

}
/* headings and logo*/

h1,h2 {
    font-family: 'Lato', sans-serif;
}


/* menu nav options style */


.navbar {
	width: 100%;
	margin:0 auto;
    overflow: hidden;
    background-color:#499DD0;
   
}

nav a { color: inherit; }

.logo {
	float: left;
	display: block;
	font-size: 32px;
	font-weight: bold;
    padding: 20px 0px;
}


nav .menu ul { 
    float: right; 
    padding: 20px 0px;
 }

nav .menu li {
	float: left;
	list-style: none;
}

nav .menu li a {
	color: inherit;
	cursor: pointer;
	position: relative;
	display: block;
	padding: 12px 20px;
}



/* sailing image */

#sailing-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}


#sailing-image {
    height: 700px;
    width: 100%; 
   background:url(../images/sailing-image.jpeg);
   background-size: cover;
   background-repeat: no-repeat;}


/* buttons and cover text*/ 

#cover-text { 
    font-size: 130%;
    font-family: Lato, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    display: inline-block;

    width: 200px;
    height: 120px;

    padding-bottom: 35px;
    padding-right: 2px;

    background-color: rgba(18, 33, 73, 0.61);

    top: 30px;
    left: 50px;

    position: absolute;
}

.button {
    background-color: #073757; 
    border: none;
    color: white;
    padding: 16px 32px;
    font-size: 100%;
    font-family: Lato, sans-serif;
    letter-spacing: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px 2px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button-1 {
    background-color: #1177bb; 
    color: white; 
    border: 2px solid #073757;
    
  }
  
  .button-1:hover {
    background-color: #073757;
    color: white;
  }
  
  .button-2 {
    background-color: #1177bb; 
    color: white; 
    border: 2px solid #073757;
    
  }

 .button-2:hover {
        background-color: #073757;
        color: white;
      }

  a {
    font-size: 100%;
    font-family: Lato, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    text-align: center;
    text-decoration: none;
    color: white;
    display: inline;
  }    
/* begginers guide */

#begginers-header { 
    text-align: center;
    
    ;
}

#fig-1 {
    position: relative;
    width: 90vw;
    height: 70vh;
    margin: 30px auto;
    
    text-align: center;
  }

  #iframe-1 {
    position: absolute;
    top: 0;
    overflow: auto;
    display: block;
    height: 90%;
    width: 100%;
  }
  


    
/* sailing about */

#sailing-about { 
    height:600px;
}

#left-about { 
    padding-top: 30px;
    float: left;
    width: 33%;
    margin: 30px;
}

#right-about { 
    padding-top: 30px;
    float: right;
    width: 33%;
    margin: 30px;
}
#center-about { 
    width: 33%; 
    margin: 0 auto;
}

#left-about-header {
    font-size: larger;
    font-weight: 600;
    text-align: center;
}

#about-us-text {
    padding-top: 30px;
    font-size: large;
    font-weight: 500;
    letter-spacing: 3px;
    
}
/* footer */ 

footer {

    position:fixed;
    bottom:0px;
    width:100%;
    background-color: #499DD0;
    text-align: center;

}

.social-media  { 
    list-style: none;
    display:inline-block;
    position: relative;
    padding: 5px 0px;
}

.social-media li {
    display:inline-block;
}

.social-media li a {
    font-size: 30px;
  margin-right: 10px;
}

/* where to find us */ 

.location-wrap { 
    text-align: center;
    margin-bottom: 100px;
}

.location-wrap p {
    font-size: 16px;
    padding-top: 30px;
}

.location-wrap h1 {
    padding-top: 10px;
    font-size: 20px;

 }


#location { 
    padding-top: 30px;

    }

   #iframe-location {
       width: 600px;
       height: 400px;
   } 

/* Timetable style */

    #timetable {
        padding-top: 60px;
       text-align: center;
    }

    table { 
        border-collapse: collapse;
        border: 3px dotted black;
        letter-spacing: 1px;
        width: 80%;
        height: 80%;
        display:inline-table;
       
        
    }

    #tcap {

        font-size: larger;
        font-weight: 600;
        text-align: center;
        
        
        
    
    }
    td { 
        text-align: center;
        font-size: 18px;
        border-bottom: 3px dotted black;
        height: fit-content;
        width: fit-content;
        padding: 5px;
    }
    #tcap #left-about-heading {
        line-height: 50px;
    }
    
    
    /* contact-form*/
    
    .contact-wrap { 
            display: block;
            margin-top: 50px;
            text-align: center;
    
    }

    .contact_wrap h1{
        font-size: 36px;
        padding-bottom: 40px;
      }
      

     .contact-wrap h1 { 
        font-size: 36px;
        padding-bottom: 40px;
     }

    #form-input { 
        width: 270px;
      padding: 8px 0px;
      border-radius: 5px;
    }

    .label-box {
        display: inline-block;
        width: 90px;
    }

    .submit-button {
        width: 100px !important;
        cursor: pointer;
        margin-top: 50px;
    }

    /* Media Queries*/ 

    @media screen and (max-width: 1200px) {
        #sailing-image {
          width: 65%; 
        }
    }