@import url('https://fonts.googleapis.com/css2?family=Lato&family=Urbanist:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    background-color: #99ccff;

}

/* headings and logo*/

h1,
h2 {
    font-family: 'Lato', sans-serif;
}


/* menu nav options style */


.navbar {
    width: 100%;
    margin: 0 auto;
    top: 0;
    position: fixed;
    background-color: #499DD0;
    

}

nav a {
    color: inherit;
}

.logo {
    float: left;
    display: block;
    font-size: 32px;
    font-weight: bold;
    padding: 20px 0px;
    margin-left: 20px;
    text-decoration: none;
    text-align: center;
}


nav .menu ul {
    float: right;
    padding: 20px 0px;
}

nav .menu li {
    float: left;
    list-style: none;
}

nav .menu li a {
    color: inherit;
    cursor: pointer;
    display: block;
    padding: 12px 20px;
    text-decoration: none;
}



/* sailing image */

#set-sail {
    height: 700px;
    width: 100%;
    background: url(../images/sailing-image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}





/* buttons and cover text*/

.button-position {
    display: flex;
    justify-content: center;
    padding-top: 250px;
    flex-direction: column;
}


.button {
    padding: 16px 32px;
    font-size: 100%;
    letter-spacing: 4px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin: 5px auto;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #1177bb;
    color: white;
    border: 8px solid #073757; 
    font-family: Lato, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    width: 140px;
}


.button:hover {
    background-color: #073757;
    color: white;
}


/* beginners guide */

#beginners-header {
   
    font-size: 32px;
    text-align: center;
}

/* CSS to make the embedded YouTube video responsive adopted from https://www.youtube.com/watch?v=9YffrCViTVk */

.youtube-video-div 
{
    position: relative;
      width: 100%;
      padding-bottom: 56.25%; 
      height: 0;
    margin: 1.2rem auto;
}

.youtube-video-div iframe{
    width: 100%;
    height: 60%;
    
    position: absolute;
}





/* sailing about */

/* flex grid from Tania Rascia https://codepen.io/taniarascia/pen/rOLEGe/ */
.main {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 120px;
    margin-bottom: 4rem;
  }

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .column {
    flex: 1;
    margin: 0 1.2rem;
  }

  .column.one-fourth {
    flex-basis: 25%;
}
.column.three-fourths {
    flex-basis: 75%;
}

/* end of flex grid from Tania Rascia */

/* textual copy styles */
.copy {
    padding-top: 30px;
    font-size: large;
    font-weight: 500;
    letter-spacing: 1px;
}
.copy p{
    margin-bottom: 1.2rem;
    font-size: 18px;
    line-height: 1.8rem;
}
.copy h2{
        font-family: 'Lato', sans-serif;
        font-size: 2.4rem;
        line-height: 3.2rem;
        margin: 1.2rem 0 1rem;
}
.text-center{
    text-align: center;
}


/* footer */

footer {

    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #499DD0;
    text-align: center;

}

.social-media {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 15px 0px;
}

.social-media li {
    display: inline-block;
}

.social-media li a {
    font-size: 30px;
    
    margin: 15px
}

/* footer social media hover effects */
footer a:hover i {
    transform: rotate(15deg) scale(1.5);
    color: #073757;
}


/* where to find us */

.location-wrap {
    text-align: center;
    margin-bottom: 100px;
}

.location-wrap p {
    font-size: 16px;
    padding-top: 30px;
}

.location-wrap h1 {
    padding-top: 10px;
    font-size: 20px;

}


.map-wrapper {
    max-height: 65vh;
    height: 65vh;
    width: 100%;
}


/* Timetable style */

#timetable {
    padding: 30px;
    text-align: center;
    
}

table {
    border-collapse: collapse;
    border: 3px dotted black;
    letter-spacing: 1px;
    width: 80%;
    height: 80%;
    display: inline-table;


}

#tcap {

    font-size: larger;
    font-weight: 600;
    text-align: center;

}

td {
    text-align: center;
    font-size: 18px;
    border-bottom: 3px dotted black;
    height: fit-content;
    width: fit-content;
    padding: 5px;
}

#tcap #left-about-heading {
    line-height: 50px;
}

#exceptions {
    text-align: center;
}

/* contact-form*/

.contact-wrap{
    display: block;
    text-align: center;
    padding-top: 120px;
    margin-bottom: 4rem;
    
  }

  .contact-wrap h1 {
    font-size: 36px;
    padding-bottom: 40px;
}

.contact-wrap form {
    width: 50%;
    margin: 0 auto;
}

form .row {
    margin-bottom: 1.2rem;
}

label {
    max-width: 90px;
    text-align: left;
    font-weight: 700;
}

 #full_name, #email, #tel { 
        width: 75%;
        height: 30px;
        float: right;
}


.submit-button {
    width: 100%;
    cursor: pointer;
    margin-top: 50px;
    height: auto;
    font-size: 1.8rem;
}


/* Media Queries*/

@media(max-width:600px) {
    #form input { 
        width: 200px;
    }
    .contact-wrap {
        margin-top:50px;
    }

    .logo {
        float: none;
        display: block;
        font-size: 28px;
        font-weight: bold;
        padding: 1.2rem 1.2rem 0;
    
        
    }
    nav .menu ul {
        float: none;
        padding: 0;
        font-size: 18px;
        text-align: center;
        margin: 0 auto 10px;
        display: flex;
        justify-content: center;
    }
    
    nav .menu li {
        float: none;
        list-style: none;
    }
    
    nav .menu li a {
        color: inherit;
        cursor: pointer;
        display: block;
        padding: 12px 9px;
        letter-spacing: 2px;
    }
    

   
    
}

@media (max-width:768px) {
   
    /* Make rows full width on small devices */
      .row {
          flex-direction: column;
          margin-bottom: 4rem;
      }
      /* end of flex grid for small devices */

      /* Make navigation responsive */

      .logo {
        float: none;
        display: block;
        font-size: 28px;
        font-weight: bold;
        padding: 20px 2.4rem;
        padding: 1.2rem 1.2rem 0;
        
        
    
        
    }
    nav .menu ul {
        float: none;
        padding: 0;
        font-size: 18px;
        text-align: center;
        margin: 0 auto 10px;
        display: flex;
        justify-content: center;
    }
    
    nav .menu li {
        float: none;
        list-style: none;
    }
    
    nav .menu li a {
        color: inherit;
        cursor: pointer;
        display: block;
        padding: 12px 9px;
        letter-spacing: 2px;

    }
    

}


@media (max-width:992px) {
    .navbar {
        width: 100%;
    }
}